:root {
    /* PRIMARY */
    --Light-red: hsla(0, 100%, 67%);
    --Orangey: hsl(39, 100%, 56%);
    --Green-teal: hsla(166, 100%, 37%);
    --Cobalt-blue: hsla(234, 85%, 45%);

    /* GRADIENTS BACKGROUNDS */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    /* GRADIENTS CIRCLE */
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    text-align: center;
}

.container-left {
    background: linear-gradient(0deg, var(--Light-royal-blue) 0%, var(--Light-slate-blue) 90%);
    color: var(--White);
}

.circle {
    background: linear-gradient(180deg, var(--Violet-blue) 0%, var(--Persian-blue) 90%);
}

.box:nth-child(2) {
    color: var(--Light-red);
    background-color: hsla(39, 100%, 56%, 0.1);
}

.box:nth-child(3) {
    color: var(--Orangey);
    background-color: hsla(39, 100%, 56%, 0.1);
}

.box:nth-child(4) {
    color: var(--Light-red);
    background-color: hsla(39, 100%, 56%, 0.1);
}

.box:nth-child(5) {
    color: var(--Light-red);
    background-color: hsla(39, 100%, 56%, 0.1);
}

.container-right {
    border-radius: 0px 30px 30px 0px;
    box-shadow: 10px 10px 24px -11px rgba(0, 0, 0, 0.1);
}



/* .circle h1 {
    font-weight: 700;
} */