:root {
    /* PRIMARY */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* GRADIENTS BACKGROUNDS */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    /* GRADIENTS CIRCLE */
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid red;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    text-align: center;
}

.container {
    display: flex;
    width: 1440px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-left {
    background-color: var(--Light-slate-blue);
    background: linear-gradient(0deg, var(--Light-royal-blue) 0%, var(--Light-slate-blue) 90%);
    width: 350px;
    height: 500px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--White);
}

.circle {
    background: linear-gradient(90deg, var(--Violet-blue) 0%, var(--Persian-blue) 90%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;

}

.circle h1 {
    color: var(--White);
    font-size: 5rem;
    font-weight: 800;
}

.circle span {
    color: var(--Light-lavender);
}

.container-left h2 {
    margin-bottom: 20px;
}

.container-left span {
    font-weight: 500;
    padding-bottom: 30px;
    width: 70%;
    font-size: 1rem;
    color: var(--Pale-blue);
}

.container-right {
    width: 350px;
}